<%- include('../partials/header') %>
<div class="container mt-5">
  <h1>Resend verification token</h1>

  <% if(typeof alerts !='undefined' ) { %> <% for(var i=0 ; i < alerts.length;
  i++) { %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Oops! </strong>
    <%= alerts[i] %>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <% } %> <% } %>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/resend-token" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                aria-describedby="emailHelp"
                id="email"
              />
              <div id="emailHelp" class="form-text">
                Please enter the email you used for registration.
              </div>
            </div>
            <button type="submit" value="submit" class="btn btn-dark">
              Verify
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
