<%- include('../partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-money fa-6x"></i> -->
    <h1 class="display-3">Verification Pending</h1>
    <p class="lead">Hello, we sent you a link to your provided email to verify your email. Please click on the provided link to complete your verification. Thank you.</p>
  </div>
</div>

<%- include('../partials/footer') %>