<%- include('../partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-money fa-6x"></i> -->
    <h1 class="display-3"><%= msg %></h1>
    <p class="lead">Congratulations you are verfied.</p>
    <p class="lead">Please click the below buttom to login.</p>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('../partials/footer') %>
