<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-money fa-6x"></i> -->
    <h1 class="display-3">About</h1>
    <p class="lead">
      Website where sellers can sell and buyers can bid from anywhere with the
      added security of facial recognition during the user login process.
    </p>
  </div>
</div>

<%- include('partials/footer') %>
