<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-money fa-6x"></i> -->
    <h1 class="display-3">Help</h1>
    <p class="lead">For help please send an email at admin@example.com</p>
  </div>
</div>

<%- include('partials/footer') %>
