<%- include('partials/header') %>

  <main class="flex-shrink-0">
    <div class="jumbotron centered">
      <div class="container">
        <!-- <i class="fas fa-key fa-6x"></i> -->
        <h1 class="display-3">OAS</h1>
        <p class="lead">Online Auction System</p>
        <hr />
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </main>

  <%- include('partials/footer') %>